rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /xListPosts/{postId} {
      allow read: if false;
      allow write: if false;
    }

    match /xListMeta/{listId} {
      allow read: if false;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
